<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="user" type="io.codecrafts.model.User"*/-->
<div class="container">
	<nav th:replace="template :: header"></nav>
	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<form th:action="@{'/searchUser'}" method="post" class="form-inline">
					<div class="form-group">
					<a class="btn btn-default" href="#" th:href="@{'/admin/users/new'}" role="button">
						<span class="glyphicon glyphicon-plus"></span>Add User
					</a>
					</div>
					<div class="form-group pull-right">
						<input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Search..">
						<button type="submit" class="btn btn-default center">
							<span class="glyphicon glyphicon-search"></span>Search
						</button>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<div class="table-responsive" th:if="${users != null}">
					<table class="table table-hover ">
						<thead class="thead-inverse">
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Creation Date</th>
							<th>Edit</th>
							<th>Account Status</th>
						</tr>
						</thead>
						<tr th:each="user : ${users}" th:classappend="${!user.isActive()} ? danger">
							<td th:text="${user.getId()}">Visit</td>
							<td th:text="${user.getFirstName()}">Michael</td>
							<td th:text="${user.getLastName()}">Clarke</td>
							<td th:text="${user.getEmail()}">jim@gmail.com</td>
							<td th:text="${#dates.format(user.getCreationDate(), 'yyyy-MM-dd')}">2018-02-28</td>
							<td><a href="#" th:href="@{'/admin/users/' + ${user.id} + '/edit'}"><span class="glyphicon glyphicon-edit"></span>Edit</a></td>
							<td th:if="${user.isActive()}"><a href="#" th:href="@{'/admin/users/' + ${user.id} + '/disable'}"><span class="glyphicon glyphicon-ban-circle"></span>Disable</a></td>
							<td th:if="${!user.isActive()}"><a href="#" th:href="@{'/admin/users/' + ${user.id} + '/enable'}"><span class="glyphicon glyphicon-ok-sign"></span>Enable</a></td>
						</tr>
					</table>
					<ul class="pagination" th:if="${totalPages > 1}">
						<li th:classappend="${page - 1 < 1} ? 'disabled'">
							<a th:if="${page - 1 >= 1}" th:href="${url} + ${page - 1}" class="page-link">&laquo;</a>
							<a th:if="${page - 1 < 1}" class="page-link">&laquo;</a>
						</li>
						<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${page == i} ? 'active'">
							<a th:href="${url} + ${i}" th:text="${i}" class="page-link"></a>
						</li>
						<li th:classappend="${page + 1 > totalPages} ? 'disabled'">
							<a th:if="${page + 1 <= totalPages}" th:href="${url} + ${page + 1}" class="page-link">&raquo;</a>
							<a th:if="${page + 1 > totalPages}" class="page-link">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<nav th:replace="template :: footer"></nav>
</div>
</body>
</html>