SpringMVC/target/*
SpringMVC/.idea/*
Blog/target/*
Blog/.idea/*
ClientServer/.gradle/*
ClientServer/build/*
ClientServer/out/*
ClientServer/.idea/*
ClientServer/server/build/*
ClientServer/server/out/*
ClientServer/client/build/*
ClientServer/client/out/*
soap-webservice-spring-example/target/*
soap-webservice-spring-example/.idea/*
soap-webservice-axis-maven/target/*
soap-webservice-axis-maven/.idea/*
McqPilot/.idea
McqPilot/target
node-app/front-end/node_modules/*
java/ParkingSystem/target/classes/*
java/ParkingSystem/.idea/*
.idea/*
