<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
<!--/*@thymesVar id="postComment" type="io.codecrafts.model.PostComment"*/-->
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-heading">
					<h1 class="panel-title">Post Comments</h1> <a class="btn btn-default" href="#" th:href="@{'user/post/new'}" role="button">New</a>
				</div>
				<div class="panel-body">
					<div class="table-responsive" th:if="${not #lists.isEmpty(postComments)}">
						<table class="table table-hover ">
							<thead class="thead-inverse">
							<tr>
								<th>Comment ID</th>
								<th>Content</th>
								<th>Submitter</th>
								<th>View</th>
								<th>Update</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tr th:each="postComment : ${postComments}">
								<td th:text="${postComment.getId()}">1</td>
								<td th:text="${postComment.getContent()}">Try to reset the connection.</td>
								<td th:text="${postComment.getUser().getFirstName()}">David</td>
								<td><a href="#" th:href="@{'user/postcomments/' + ${post.getId()} + '/update'}">Update</a></td>
								<td><a href="#" th:href="@{'user/postcomments/' + ${post.getId()} + '/delete'}">Delete</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>