<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
<!--/*@thymesVar id="postComment" type="io.codecrafts.model.PostComment"*/-->
	<div class="container">
		<div th:replace="template :: header"></div>
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title" th:text="${post.getTitle()}">Browsing issue</h1>
				</div>
				<div class="panel-body">
					<form th:object="${postComment}" th:action="@{'/posts/' + ${post.getId()} + '/comments/' + ${postComment.id}}" method="post" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-9">
								<label th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="validation-message"></label>
								<input type="text" th:field="*{content}" placeholder="content" class="form-control" />
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Edit Comment</button>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="template :: footer"></div>
	</div>
</body>
</html>