<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
<!--/*@thymesVar id="comment" type="io.codecrafts.model.PostComment"*/-->
<div class="container">
	<div th:replace="template :: header"></div>
	<div class="panel-group" style="margin-top:40px">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 th:text="${post.getTitle()}" class="panel-title"></h1>
			</div>
			<div class="panel-body">
				<div class="table-responsive" th:if="${comments != null}">
					<table class="table table-condensed">
						<colgroup>
							<col class="col-md-2">
							<col class="col-md-11">
						</colgroup>
						<tbody>
						<tr th:each="comment : ${comments}">
							<td>
								<table class="table table-condensed table-borderless">
									<tr>
										<td th:text="${comment.getUser().getFirstName()}">Michael John</td>
									</tr>
									<tr>
										<td th:text="${comment.getPostDate()}">2018-02-28 19:21:27</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="table table-condensed table-borderless">
									<tr>
										<td><div th:text="${comment.getContent()}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div></td>
									</tr>
								</table>
							</td>
						</tr>
						<form th:object="${postComment}" th:action="@{'/posts/' + ${post.id} +'/comments'}" method="post" class="form-horizontal">
						<tr>
							<label th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="validation-message"></label>
							<td colspan="2"><textarea th:field="*{content}" placeholder="Please type your comments here" class="form-control" rows="5"></textarea></td>
						</tr>
						<tr>
							<td>
								<button type="submit" class="btn btn-primary float-right"><span class="glyphicon glyphicon-plus"></span>Post Comment</button>
							</td>
						</tr>
						</form>
						</tbody>
					</table>
					<ul class="pagination" th:if="${totalPages &gt; 1}">
						<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
							<a th:href="@{/posts/{postid}/comments/(postid=${post.id},page=${i})}" th:text="${i}" class="page-link"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="template :: footer"></div>
</div>
</body>
</html>