<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--/*@thymesVar id="postComment" type="io.codecrafts.model.PostComment"*/-->
	<div class="container">
		<div th:replace="template :: header"></div>
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<form th:object="${postComment}" th:action="@{'/posts/' + ${postid} +'/comments'}" method="post" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-9">
								<label th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="validation-message"></label>
								<input type="text" th:field="*{content}" placeholder="content" class="form-control" />
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="template :: footer"></div>
	</div>
</body>
</html>