<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
<!--/*@thymesVar id="postcomment" type="io.codecrafts.model.PostComment"*/-->
	<div class="container">
	
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-heading">
					<h1 class="panel-title">Post Comments</h1> <a class="btn btn-default" href="#" th:href="@{'/user/post/' + ${post.id} + '/postcomment'}" role="button">New</a>
				</div>
				<div class="panel-body">
					<div class="table-responsive" th:if="${post != null}">
						<table class="table table-hover ">
							<thead class="thead-inverse">
							<tr>
								<th>Content</th>
								<th>Submitter</th>
								<th>Posted On</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tr th:each="postcomment : ${post.getPostComments()}">
								<td th:text="${postcomment.getContent()}">Visit</td>
								<td th:text="${postcomment.getUser().getFirstName()}">Michael</td>
								<td th:text="${postcomment.getPostDate()}">Michael</td>
								<td><a href="#" th:href="@{'/user/postcomment/' + ${postcomment.getId()} + '/delete'}">Delete</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>