<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
	<div class="container">
		<div th:replace="template :: header"></div>
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-heading">
					<h1 class="panel-title">Posts</h1> <a class="btn btn-default" href="#" th:href="@{'/posts/new'}" role="button">New</a>
				</div>
				<div class="panel-body">
					<div class="table-responsive" th:if="${not #lists.isEmpty(posts)}">
						<table class="table table-hover ">
							<thead class="thead-inverse">
							<tr>
								<th>ID</th>
								<th>Title</th>
								<th>Started By</th>
								<th>Date Created</th>
								<th>Replies</th>
								<th>Update</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tr th:each="post : ${posts}">
								<td th:text="${post.getId()}">1</td>
                                <td><a th:text="${post.getTitle()}" href="#" th:href="@{'/posts/' + ${post.getId()} + '/comments'}">Browsing issue</a></td>
								<td th:text="${post.getUser().getFirstName()}">John</td>
								<td th:text="${post.getCreationDate()}">2018-02-28 19:21:27</td>
								<td th:text="${post.getPostComments().size()}">10</td>
								<td><a href="#" th:href="@{'/posts/' + ${post.getId()} + '/edit'}">Edit</a></td>
								<td><a href="#" th:href="@{'/posts/' + ${post.getId()} + '/delete'}">Delete</a></td>
							</tr>
						</table>
						<ul class="nav nav-pills">
							<li class="nav-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
								<a th:href="@{/posts/(page=${i})}" th:text="${i}" class="nav-link"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="template :: footer"></div>
	</div>
</body>
</html>