<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
	<div class="container">
		<div th:replace="template :: header"></div>
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">Edit Post</h1>
				</div>
				<div class="panel-body">
					<form th:object="${post}" th:action="@{'/posts/' + ${post.id}}" method="post" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-9">
								<input type="hidden" th:field="*{id}" th:value="${post.id}" class="form-control" />
								<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
								<input type="text" th:field="*{title}" placeholder="title" class="form-control" />
								<br>
								<textarea th:field="*{description}" placeholder="Please type your description here" class="form-control" rows="5"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="template :: footer"></div>
	</div>
</body>
</html>