<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="user" type="io.codecrafts.model.User"*/-->
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
	<div class="container">
		<nav th:replace="template :: header"></nav>
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<form th:action="@{'/searchPost'}" method="post" class="form-inline">
						<div class="form-group">
							<a class="btn btn-default" href="#" th:href="@{'/posts/new'}" role="button">
								<span class="glyphicon glyphicon-plus"></span>New Thread
							</a>
						</div>
						<div class="form-group pull-right">
							<input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Search..">
							<button type="submit" class="btn btn-default center">
								<span class="glyphicon glyphicon-search"></span>Search
							</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<div class="table-responsive" th:if="${not #lists.isEmpty(posts)}">
						<table class="table table-hover table-condensed">
							<thead class="thead-inverse">
							<tr>
								<th class="col-md-1"></th>
								<th class="col-md-8">Title / Thread Starter</th>
								<th class="col-md-1">Replies / Views</th>
								<th class="col-md-2">Last Post By</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="post : ${posts}" class="active">
								<td>
									<img th:src="@{'/uploads/' + ${post.getUser().getId()} + '/' + ${post.getUser().getProfilePicture()}}" alt="Avatar" class="img-responsive center-block" width="100" height="100">
								</td>
								<td>
									<table class="table table-condensed table-borderless">
										<tr>
											<td><h4><a th:text="${post.getTitle()}" href="#" th:href="@{'/posts/' + ${post.getId()} + '/comments'}">Browsing issue</a></h4></td>
										</tr>
										<tr>
											<td>
												<button type="button" class="btn btn-light"><small th:text="'Started by: ' + ${post.getUser().getFirstName() + ' ' + post.getUser().getLastName()} + ', ' + ${#dates.format(new java.util.Date(post.getCreationDate()), 'yyyy-MM-dd HH:mm:ss')}"></small></button>
												<div class="pull-right">
													<a href="#" class="btn btn-xs btn-primary float-right" th:if="${post.getUser().getId() == user.getId() && post.getPostComments().size() == 0}" role="button" th:href="@{'/posts/' + ${post.id}  + '/edit'}"><span class="glyphicon glyphicon-edit"></span>Edit Post</a>
													<a href="#" class="btn btn-xs btn-danger float-right" th:if="${post.getUser().getId() == user.getId() && post.getPostComments().size() == 0 || user.isAdmin()}" role="button" th:href="@{'/posts/' + ${post.id}  + '/delete'}"><span class="glyphicon glyphicon-trash"></span>Delete Post</a>
												</div>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table class="table table-condensed table-borderless">
										<tr>
											<td class="text-center"><button type="button" class="btn btn-light">Replies <span class="badge" th:text="${post.getPostComments().size()}">${post.getPostComments().size()}</span></button></td>
										</tr>
										<tr>
											<td class="text-center"><button type="button" class="btn btn-light">Views <span class="badge" th:text="${post.getPostComments().size()}">${post.getPostComments().size()}</span></button></td>
										</tr>
									</table>
								</td>
								<td>
									<table class="table table-condensed table-borderless">
										<tr>
											<td class="text-center"><button type="button" class="btn btn-light" th:if="${post.getPostComments().size() &gt; 0}" th:text="${post.getPostComments().get(post.getPostComments().size() - 1).getUser().getFirstName() + ' ' + post.getPostComments().get(post.getPostComments().size() - 1).getUser().getLastName()}">Tom</button></td>
											<td class="text-center"><button type="button" class="btn btn-light" th:if="${post.getPostComments().size() &lt; 1}" th:text="NA">NA</button></td>
										</tr>
										<tr>
											<td class="text-center"><button type="button" class="btn btn-light" th:if="${post.getPostComments().size() &gt; 0}" th:text="${#dates.format(new java.util.Date(post.getPostComments().get(post.getPostComments().size() - 1).getPostDate()), 'yyyy-MM-dd HH:mm:ss')}">2018-02-28 19:21:27</button></td>
											<td class="text-center"><button type="button" class="btn btn-light" th:if="${post.getPostComments().size() &lt; 1}" th:text="NA">NA</button></td>
										</tr>
									</table>
								</td>
							</tr>
							</tbody>
						</table>
						<ul class="pagination" th:if="${totalPages > 1}">
							<li th:classappend="${page - 1 < 1} ? 'disabled'">
								<a th:if="${page - 1 >= 1}" th:href="${url} + ${page - 1}" class="page-link">&laquo;</a>
								<a th:if="${page - 1 < 1}" class="page-link">&laquo;</a>
							</li>
							<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${page == i} ? 'active'">
								<a th:href="${url} + ${i}" th:text="${i}" class="page-link"></a>
							</li>
							<li th:classappend="${page + 1 > totalPages} ? 'disabled'">
								<a th:if="${page + 1 <= totalPages}" th:href="${url} + ${page + 1}" class="page-link">&raquo;</a>
								<a th:if="${page + 1 > totalPages}" class="page-link">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav th:replace="template :: footer"></nav>
	</div>
</body>
</html>