<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
<!--/*@thymesVar id="post" type="io.codecrafts.model.Post"*/-->
	<div class="container">
		<div th:replace="template :: header"></div>
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>New Thread</span>
				</div>
				<div class="panel-body">
					<form th:object="${post}" th:action="@{'/posts'}" method="post" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-9">
								<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
								<input type="text" th:field="*{title}" placeholder="title" class="form-control" />
							</div>
							<br>
							<br>
							<div class="col-sm-9">
								<label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
								<textarea th:field="*{description}" placeholder="Please type your description here" class="form-control" rows="5"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>Save Thread</button>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="template :: footer"></div>
	</div>
</body>
</html>